:root {
  --header-height: 70px;
  --footer-height: 120px;
}

header,
main {
  background-color: #e5e5e5;
}

header .container {
  height: var(--header-height);
}

main .container {
  min-height: calc(100vh - var(--header-height) - var(--footer-height));
}

footer {
  height: var(--footer-height);
  background-color: rgb(51, 51, 51);
  color: #e5e5e5;
}

h1 {
  line-height: var(--header-height);
  margin-bottom: 0;
}

.card {
  max-width: 450px;
}

.footer-paragraph {
  font-size: 0.8rem;
}

footer .container p {
  margin-bottom: 0;
}

.btn {
  background-color: aqua;
}
